.pro{
    background-color: rgb(233, 207, 255) !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.pro h2,p{
    color:#fff !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-align: center;
}
[disabled]:hover{
background-color: rgb(73, 73, 82) !important;
cursor: not-allowed;
}
.stars{
    display: flex;
    flex-direction: row;
}
.details{
    border-radius: 10px !important;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(206,148,233,1) 100%);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details:hover,.create_review_link:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.review_img{
    width: 100px;
    height: 100px ;
    margin: auto;
}

.create_review_link{
    color: #fff;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(206,148,233,1) 100%);
    border-radius: 10px;
}
.image{
    width: 200px;
    height: 200px;
    margin: 30px 10px;
}
.price{
    color: black !important;
    text-align: left !important;
}