
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    background-color: rgb(248, 240, 255) !important;
    font-family: 'Playpen Sans', cursive !important;
    
}
input,.forgetpassword{
    border-radius: 5px !important;
}
.navbar{
    background-color: rgb(233, 207, 255) !important;
}
form{
    background-color: rgb(242, 231, 253) !important;
    border-radius: 5px !important;
}
.submit,.forgetpassword{
    background-color: rgb(209, 108, 245) ;
    border: none;
    padding: 5px 8px;
    
}
a{
    display: inline-block;
}
h1{
    color: blueviolet !important;
}
.image{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
button{
    color: blueviolet !important;
    border-color: blueviolet !important;
}
button:hover{
    background-color:rgb(209, 108, 245)!important;
    color: white !important;
    border-color: white !important;
}
